
	{% extends "base.html" %}

	{% block title %} Register new user {% endblock %}

	{% block content %}

	<form action="/register" method="POST" id="register_form">
	{{ form.hidden_tag() }}
	{% for field in form if field.widget.input_type != 'hidden' %}
	  <div class='form-group'>
		{{ field.label }}
		{{ field(class="form-control") }}
		<span>
		  {% if field.errors %}
			{% for error in field.errors %}
			  <b class="text-danger">{{ error }}</b>
			{% endfor %}
		  {% endif %}
		</span>
	  </div>

	{% endfor %}
	</form>

	{% endblock %}
